/* Hero Section com Video Parallax */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(8, 8, 6, 0.7), rgba(10, 18, 70, 0.7));
}

#hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(8, 8, 6, 0.8), transparent);
  pointer-events: none;
  z-index: 0;
}

#hero h1 {
  opacity: 0;
  display: block;
  position: relative;
  background-image: url(/assets/brumas_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  max-width: 600px;
  height: 70%;
  margin: 0 auto;
  font-size: 0px;
  color: transparent;
  animation: fadeIn 2s ease forwards, alchemyGlow 2s ease-in-out infinite alternate;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  transform: translateY(var(--scroll));
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.hero-content {
  text-align: center;
  padding: 2rem;
  z-index: 1;
  max-width: 900px;
}

.hero-content::before,
.hero-content::after {
  /* content: ""; */
  display: block;
  height: 50px;
  margin: 20px auto;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"><path d="M0,5 C30,15 70,-5 100,5" stroke="%23d4af37" fill="none" stroke-width="1"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeInLeft 2s ease forwards 1s;
}

.hero-content::after {
  transform: scaleY(-1);
  animation: fadeInRight 2s ease forwards 1s;
}

.main-title {
  opacity: 0;
  font-size: 5rem;
  letter-spacing: 10px;
  margin-bottom: 2.5rem;
  animation: alchemyGlow 3s ease-in-out infinite alternate, fadeIn 2s ease forwards;
}

.main-title logo-component{
  width: 80%;
  min-width: 600px;
  height: 250px;
  animation: alchemyGlow 10s ease-in-out infinite alternate, fadeIn 2s ease forwards;
}

.subtitle {
  opacity: 0;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 5px;
  color: var(--color-gold);
  animation: fadeIn 2s ease forwards .5s;
}

.event-date {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: var(--font-medieval);
  color: var(--color-light);
  display: inline-block;
  padding: 10px 30px;
  opacity: 0;
  animation: fadeIn 2s ease forwards 1s;
}

.event-date::before,
.event-date::after {
  opacity: 0;
  content: "❧";
  color: var(--color-gold);
  position: absolute;
  transform: translateY(-50%);
}

.event-date::before {
  left: 0;
  animation: fadeInLeft 1s ease forwards 2s;
}

.event-date::after {
  right: 0;
  animation: fadeInRight 1s ease forwards 2s;
}

/* Botões */
.cta-button {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding: 15px 40px;
  border: 2px solid var(--color-gold);
  border-radius: 5px;
  overflow: hidden;

  font-family: var(--font-medieval);
  font-size: 1.2rem;
  color: var(--color-light);
  text-decoration: none;

  background-color: var(--color-deep-purple);
  opacity: 0;

  cursor: pointer;

  transition: all 0.3s ease;
  animation: fadeIn 2s ease forwards 1.5s;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: all 0.5s ease;
  z-index: -1;
}

.cta-button:hover {
  background-color: var(--color-purple);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cta-button:hover::before {
  left: 100%;
}

.scroll-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.scroll-indicator p {
  margin-bottom: 10px;
  font-family: var(--font-title);
  font-size: 0.9rem;
}

.scroll-indicator i {
  opacity: 0;
  animation: fadeIn 1s ease forwards 5s, bounce 2s infinite 10s;
  font-size: 1.5rem;
  color: var(--color-gold);
}

/* Media Queries */
@media (max-width: 768px) {
  .main-title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .event-date {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

/* media queries to animation disabled */
/* Botões */
.cta-button {
  opacity: 0;
  display: inline-block;
  padding: 15px 40px;
  font-family: var(--font-medieval);
  font-size: 1.2rem;
  background-color: var(--color-deep-purple);
  color: var(--color-light);
  border: 2px solid var(--color-gold);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: fadeIn 2s ease forwards 1.5s;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: all 0.5s ease;
  z-index: -1;
}

.cta-button:hover {
  background-color: var(--color-purple);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cta-button:hover::before {
  left: 100%;
}

@media (prefers-reduced-motion) {
  h1, .main-title, .subtitle, .event-date, .cta-button, .scroll-indicator {
    animation: none;
    opacity: 1;
  }
}

