/* Ingressos */
tickets-component {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

tickets-component header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

tickets-component header h3 {
  font-family: var(--font-medieval);
  font-size: 1.8rem;
  color: var(--color-gold);
}

tickets-component header .ticket-base-price {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-light);
  font-family: var(--font-title);
}

tickets-component .ticket-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  background-color: rgba(10, 18, 70, 0.8);
  border: 2px solid var(--color-gold);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-width 0.3s ease;
  margin-bottom: 30px;
  background: linear-gradient(135deg, rgba(10, 18, 70, 0.9) 0%, rgba(73, 20, 73, 0.8) 100%);
  box-shadow: 0 15px 30px rgba(91, 91, 91, 0.3);
}

tickets-component .ticket-card:hover {
  /* transform: scale(1.05); */
  transform: scale3d(1.02, 1.02, 1.02);
  box-shadow: 0 15px 30px rgba(212, 175, 55, 0.3);
}

tickets-component .ticket-card:hover .ticket-seal {
  transform: rotate(15deg);
  opacity: 0.8;
}

tickets-component header {
  position: relative;
  background-color: var(--color-deep-purple);
  padding: 25px 20px;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: 1px solid var(--color-gold);
}

tickets-component header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" viewBox="0 0 20 10"><path d="M0,0 C5,10 15,10 20,0" fill="%230a1246"/></svg>');
  background-repeat: repeat-x;
  background-size: 20px 10px;
}

tickets-component ul {
  position: relative;
  list-style-type: none;
  flex: 1;
  padding: 30px 25px;
}

tickets-component ul li {
  padding-block: 12px;
  border-bottom: 1px dashed rgba(212, 175, 55, 0.3);
  font-family: var(--font-text);
  line-height: 1.5;
  font-size: 1.05rem;
}

/* ticket seal que agora esta no before do article */
tickets-component article::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 25px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* tickets-component .ticket-seal {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 70px;
  opacity: 0.5;
  transition: all 0.3s ease;
}

tickets-component .seal-image {
  width: 100%;
  height: 100%;
} */

tickets-component .ticket-button {
  display: block;
  margin: 0 auto 20px;
  width: 80%;
  padding: 15px;
  text-align: center;
  background-color: var(--color-purple);
  color: var(--color-light);
  border-radius: 5px;
  font-family: var(--font-medieval);
  font-size: 1.2rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

tickets-component .ticket-button:hover {
  background-color: var(--color-gold);
  color: var(--color-dark);
}

/* Lista com Símbolos Alquímicos */
tickets-component ul li {
  position: relative;
  padding-left: 30px;
}

tickets-component ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

tickets-component ul li::before {
  background-image: url('../../assets/flor_de_lis_branca.svg');
}

/* Media Queries */
/* @media (max-width: 992px) {
  .tickets-container {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .tickets-container .ticket-card .ticket-content ul {
    margin-bottom: 80px;
  }

  .tickets-container .ticket-card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .tickets-container .ticket-card .ticket-header h3 {
    font-size: 1.6rem;
  }

  .tickets-container .ticket-card .ticket-header .ticket-price {
    font-size: 2rem;
  }
} */
