h3 {
  font-family: var(--font-medieval);
  font-size: 1.8rem;
  color: var(--color-deep-purple);
  margin-bottom: 15px;
}

.form-intro {
  text-align: center;
  margin-bottom: 30px;
}

#personal-data-fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

#personal-data-fieldset > div:not(.form-group) {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group:has(#cpf),
.form-group:has(#email) {
  flex: 1;
}

/* ticket-types */

ticket-types {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

ticket-types input[type="radio"] {
  display: none;
}

ticket-types label {
  opacity: 0.5;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: radial-gradient(circle, #e9d4b571 30%, #e9d4b5 100%);
}

ticket-types label:hover,
ticket-types input[type="radio"]:checked + label {
  opacity: 1;
}

ticket-types input[type="radio"]:checked + label {
  outline: 1px solid var(--color-gold);
  border-radius: 5px;
  outline-offset: 5px;
}

ticket-types label span:nth-child(1) {
  font-weight: bold;
  text-align: center;
  flex: 1;
}

ticket-types label span:nth-child(2) {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-left: 1px dashed var(--color-gold);
}

ticket-types label .currency {
  font-size: 0.8rem;
}

ticket-types input[type="radio"] {
  display: none;
}


#optional-fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#optional-fieldset .form-group,
#accept-terms-fieldset .form-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 0;
}

#optional-fieldset .form-group label,
#accept-terms-fieldset .form-group label {
  flex: 1;
}

.form-note {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--color-deep-purple);
  opacity: 0.8;
}

button[type="submit"] {
  margin: 0 auto;
  display: block;
}

#add-participant {
  font-size: 1rem;
  padding: 10px 20px;
  opacity: 1;
  animation: none;
  transition: unset;
  box-shadow: none;
  background: var(--color-gold);
}

#participant-dialog {
  background-color: var(--color-parchment);
  border: 1px solid var(--color-gold);
  border-radius: 5px;
  padding: 20px;
}

#price-summary {
  position: relative;
  text-align: right;
  margin: 0 0 30px auto;
  padding: 30px 20px;

  /* background-image: linear-gradient(to top, #00000022 0%, #00000022 100%); */
  width: fit-content;
  background: radial-gradient(circle, #ffffff 0%, #ffffff 70%, #eaeaea 100%);
  background-image: url('../../assets/papiro_texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(.2);
}

#price-summary table td {
  padding: 0 10px;
}


#price-summary .top,
#price-summary .bottom {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 20px;
  transform: translateX(-2%);
  background-image: url('../../assets/papiro_texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
              0 8px 7px rgba(0, 0, 0, 0.4),
              0 0 10px rgba(0, 0, 0, 0.2),
              inset 0 0 10px 6px #b99469;
  z-index: 2;
  text-shadow: 1px 1px 1px #ffffff, 0px 0px 2px #6d3f0b;
  transform: rotate(1deg);
}

#price-summary .bottom {
  bottom: 0;
  top: unset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
              0 -6px 10px rgba(0, 0, 0, 0.4),
              0 -19px 20px rgba(0, 0, 0, 0.2),
              inset 0 0 5px 6px #b99469
}

#price-summary .top::before,
#price-summary .bottom::before,
#price-summary .top::after,
#price-summary .bottom::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -9px;
  width: 10px;
  height: 10px;
  background-color: var(--color-parchment);
  box-shadow: inset 0 0 10px 6px rgba(109, 63, 10, 1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateY(-50%);
  z-index: 0;
}
#price-summary .top::after,
#price-summary .bottom::after {
  left: unset;
  right: -9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#price-summary span {
  font-weight: bold;
}

#participant-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#participant-list ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

